태영업무포탈_New/JIS웹 프레임워크/태영업무포탈/TaeYoung.Portal/Web References/RemotePrint/SafeOrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Set_SafeOrder_Prt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sDOCNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCMWKTEAM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCMWKDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCMWKSEQ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSMWKORAPPDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSMWKORSEQ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sJSA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPrint" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCopies" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSESSIONID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Set_SafeOrder_PrtResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Set_SafeOrder_PrtSoapIn">
    <wsdl:part name="parameters" element="tns:Set_SafeOrder_Prt" />
  </wsdl:message>
  <wsdl:message name="Set_SafeOrder_PrtSoapOut">
    <wsdl:part name="parameters" element="tns:Set_SafeOrder_PrtResponse" />
  </wsdl:message>
  <wsdl:portType name="SafeOrderServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Set_SafeOrder_Prt">
      <wsdl:input message="tns:Set_SafeOrder_PrtSoapIn" />
      <wsdl:output message="tns:Set_SafeOrder_PrtSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SafeOrderServiceSoap" type="tns:SafeOrderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_SafeOrder_Prt">
      <soap:operation soapAction="http://tempuri.org/Set_SafeOrder_Prt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SafeOrderServiceSoap12" type="tns:SafeOrderServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set_SafeOrder_Prt">
      <soap12:operation soapAction="http://tempuri.org/Set_SafeOrder_Prt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SafeOrderService">
    <wsdl:port name="SafeOrderServiceSoap" binding="tns:SafeOrderServiceSoap">
      <soap:address location="http://emg.taeyoung.co.kr/Portal/PSM/SafeOrderService.asmx" />
    </wsdl:port>
    <wsdl:port name="SafeOrderServiceSoap12" binding="tns:SafeOrderServiceSoap12">
      <soap12:address location="http://emg.taeyoung.co.kr/Portal/PSM/SafeOrderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>